#map{
    height: 100%;
}
.pie-chart-slice{
    cursor: pointer;
}
.bar{
    cursor: pointer;
}
.trueClass{
    display: block;
    height: 14px;
    width: 15%;
    border: 1px solid #FF6384;
    background-color: #FF6384;
    margin-top: 3px;
    margin-left: -35px;
}
.falseClass{
    display: block;
    height: 14px;
    width: 15%;
    border: 1px solid #36A2EB;
    background-color: #36A2EB;
    margin-top: 3px;
    margin-left: -27px;
}
.axis{
    fill: black !important;
}
.btnPdng{
   padding: 0px 7px !important;
}
.pinkBtn{
    background-color: #ff6383 !important;
    border-color: #ff6383 !important;
}
/*
.chartjs-render-monitor{
    height:400px !important;
}*/
