
.loader {
    opacity: 0.5;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.hjFLZP{
    opacity: 0.5 !important;
}
.sk-fade-in-quarter-second{
    color: rgb(10, 182, 228) !important;
}
.iJhIuy {
    color: #000000 !important;
}