.err{
    color:red;
}
.succes{
    color:green;
}
.btnDisbaled{
    pointer-events: none;
    opacity: 0.5;
}
scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

scrollmenu a:hover {
    background-color: #777;
}