.err{
    color:red;
}
.succes{
    color:green;
}
.btnDisbaled{
    pointer-events: none;
    opacity: 0.5;
}
.wrapper {
    padding: 50px;
}

.image--cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 02px;

    object-fit: cover;
    object-position: top right;
}

.datepickerWrap{
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;

}