<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .textBox {
            padding: 7px;
            border: 2px solid cornflowerblue;
            border-radius: 4px;
        }

        .submitButton {
            padding: 7px;
        }
    </style>
</head>
<body>
<div class="container" style="margin-left:428px;margin-top: 171px;">


    <h1 style="font-family:fantasy">KolCooli</h1>
    <h4 style="margin-left:8%">Forgot Password</h4>

    <% if(status == true){ %>
        <% if(message == "password changed successfully"){ %>
    <h5 style="color:forestgreen">
        <% } else { %>
        <h5 style="color:crimson">
            <% } %>
            <%= message %>
        </h5>
        <% } %>
        <div class="row col-xs-4">
            <form name="form1" method="POST" action="/update-password">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="linkCode" value="<%= linkCode %>">
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd" required>
                </div>
                <div class="form-group">
                    <label for="cpwd">Confirm Password:</label>
                    <input type="password" name="cpassword" class="form-control" id="cpwd" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" name="submit">
                </div>

            </form>
        </div>
</div>
</body>
</html>