<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                <tr>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="80%" align="center" valign="top">
                                    <!--<img src="<%= payload && payload.logo ? payload.logo : "" %>" alt=""
                                         style="width: 150px;"/>-->
                                </td>
                                <td width="10%">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="10%">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="80%" align="left" valign="top">
                                    <font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px">
                                        <strong>
                                            <em>Hello, <%= payload.user.firstName ? payload.user.firstName : "" %>,</em>
                                        </strong></font><br/><br/>
                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#000; font-size:14px; line-height:21px">
                                        <p>
                                            Your Email is <b> <%= payload.user.email %> </b>
                                        </p>
                                        <p>
                                            Your Reset Password Link is
                                            <b> <%= payload.text ? payload.text : "" %> </b>
                                        </p>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--<tr>-->
                <!--<td>&nbsp;</td>-->
                <!--</tr>-->
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="80%" align="left" valign="top">

                                </td>
                                <td width="10%">&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="80%" align="left" valign="top">

                                </td>
                                <td width="10%">&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="10%">&nbsp;</td>
                                <td width="100%" align="left" valign="top">
                                    <br/>
                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:14px; line-height:21px">
                                        Thank You
                                        <br/>
                                        <span style="text-decoration: none;">OrganiHome</span>
                                    </font>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="100%" align="center" valign="top" colspan="2" height="40px"
                        style="background-color: #FFA500;">
                        <font style="font-family: Verdana, Geneva, sans-serif; color:#000; font-size:14px; line-height:40px; ">
                            © 2017 <a href="<%= payload.siteLink ? payload.siteLink : "" %>"
                                      style="text-decoration: none;">Playing11</a> All
                            rights reserved.
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>